<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2>Welcome To the Login Page</h2>
    <h4><i>Provide Your Name and Password To Login</i></h4>

    <div class="frombox">
        <form action="/Login" method="post">
            <input type="email" name="email" placeholder="Enter Your Email-Id">
            <input type="password" name="password" placeholder="Enter Your Password">
            <input type="submit"> 
        </form>
        <a href="/Signup">Click below to Signup</a>
    </div>
</body>
</html>