<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    
</head>
<body>
    <h2>Welcome To the Signup Page</h2>
    <h4><i>Provide Your Details To Signup</i></h4>
    <div class="formbox">
        <form action="/Signup" method="post">
          <h2>Name</h2>
          <input type="text" name="name" placeholder="Provide Your Name"><br>
          <h2>Email-Id</h2>
          <input type="email" name="email" placeholder="Provide Your Mail-Id"><br>
          <h2>Phone Number</h2>
          <input type="number" name="number" placeholder="Enter Your Mobile No"><br>
          <h2>Password</h2>
          <input type="password" name="password" placeholder="Provide Your Password"><br><br>
          <input type="submit">
          <br>
        </form>
        <a href="/Login">Already registered With us? Click below to Login</a>
    </div>
</body>
</html>