<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome User</title>
</head>
<body>
    <h2> <i>You have Successfully Registered With Us </i></h2><br>
       <h3> Thank you for your Time and Cooperation</h3>
    
    <br>
    <h4>Click Below to Visit our Home Page</h4>
    <a href="/Home">Go to HomePage</a>
</body>
</html>